$white:                         #ffffff;
$night:                         #222222;
$charcoal:                      #344c4c;
$smoke:                         #cccccc;
$white-smoke:                   #d6d6d6;
$almost-white:                  #fafafa;

$yellow:                        #FFFDCA;
$purle-light:                   #B4AEDB;
$purple:                        #4621EA;

$main-font:                     "Roboto Slab", serif;
$heading-font:                  "Montserrat", "Verdana", sans-serif;

$default-bg-color:              #edefed;
$default-font-color:            $charcoal;
$default-container-padding:     2rem;

$heading-sizes:                 3rem, 2.25rem, 1.5rem, 1.3125rem, 1.125rem, 1rem;

$header-height:                 4rem;
$header-font-color:             $default-font-color;
$header-bg-color:               $default-bg-color;
$header-border-color:           $night;
$header-padding:                $default-container-padding;
$header-logo-color:             $default-font-color;

$header-desc-font-size:         0.875rem;
$header-desc-line-height:       1.375;
$header-desc-margin:            1rem;

$footer-border-color:           $night;

$list-border-color:             $white-smoke;

$main-content-padding:          0 2rem;

$link-hover-color:              $purle-light;
$link-color:                    $purple;

$button-bg-color:               $purple;
$button-hover-bg-color:         $yellow;
$button-font-color:             $white;
$button-shadow:                 2px 2px 3px $smoke;
$button-subtle-shadow:          1px 1px 1px $smoke;

$section-width:                 70rem;

$section-header-height:         3rem;
$section-header-margin:         0 auto;
$section-header-link-width:     6rem;

$section-footer-height:         3rem;
$section-footer-margin:         0 auto;
$section-footer-link-width:     6rem;

$section-content-margin:        0 auto;

$amount-font-color:             $purple;
$date-font-color:               $purple;
